.app {
  --button-size: 35px;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #FAFDFF;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app .app-header {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
  /* display: flex;
  justify-content: space-around; */
  width: 50%;
}

.app .search-container {
  display: grid;
  grid-template-columns: 1fr 35px;
  gap: 5px;
}

.app .search-container .search-input-container {
  display: flex;
  height: var(--button-size);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #457B9D;
  border-radius: 5px;
}

.app .search-container .search-input-container input {
  border: none;
  border-radius: 5px;
  width: 100%;
}

.app-button:hover {
  background-color: #8dafc5;
}

.reminders {
  margin-top: 15px;
  width: 50%;
}

.reminders .reminder {
  border-radius: 5px;
}

.reminders .reminder .reminder-header {
  display: grid;
  grid-template-columns: 2fr 1fr 100px;
  background-color: #457B9D;
  color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
}

.reminders .reminder .reminder-header .reminder-header-name {
  font-weight: 900;
  text-align: left;
}

.reminders .reminder .reminder-header .reminder-header-action {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
}

.reminders .reminder .reminder-header .reminder-header-date,
.reminders .reminder .reminder-header .reminder-header-action {
  text-align: right;
  font-weight: lighter;
}

.reminders .reminder-content {
  padding: 15px;
  text-align: justify;
}