.app {
  --button-size: 35px;
  --app-max-width: 600px;
  max-width: var(--app-max-width);
  min-height: 100vh;
  background-color: #FAFDFF;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .app {
    padding: 10px;
  }  
}